.r-font{
color: #FF4040;
}
.b-font{
    color: 017EE6;
    text-align: center;
}
li{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
ul{position:relative;left:17%;float:center;}

.card{
    width: 17rem;
    background-color: #355C7D;
    color: white;
    text-align: center;
    height: 210px
}

h1{
    font-size: 60px;
    padding: 15px 2px;
}
a{
    float: center;
    color: white;
}
h2{
    font-size: 40px;
}

.btn{
   
    margin-left:35%;
    margin-right:35%;
}
