.stepnum{
     height: 36px;
    width: 36px;
    border: 1px solid #D1DAE6;
    background-color: #F6F7FB;
    color: #8595A6;
    font-size: 14px;
    line-height: 21px;
        border-radius: 50%;
    }
.btwborder{
    border-bottom: 20px solid #D1DAE6;
    height: 20px;
    width:1px;
    margin: auto;
    }
.steptext{
    height: 21px;
     color: #3A5077;	
    font-size: 14px;	
    line-height: 21px;
    }