<div class="d-flex" id="wrapper">


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-nav-bar></app-nav-bar>
        <div class="container">
            <div class="row">
                <div class="col-md col-lg col-sm">
                    <div class="welcome row mx-auto my-3">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="welcome-img mx-auto mt-4">
                                <img src="assets/images/welcome.svg" alt="" class="w-100">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="welcome-content mx-auto ">
                                <h2 class="text-center welcome-header mt-0 mb-2">Welcome! Get ready to create exam paper
                                    online.</h2>
                                <p class="text-center welcome-description mb-0">What next? Quickly setup the school
                                    account and add some basic details.</p>
                                <p class="text-center welcome-description mb-2">It will only take few minutes to setup the
                                    account.</p>
                                <div class="start_btn text-center">
                                    <button type="button" id="lets_get_start" class="btn letsGetStart-btn" (click) ="getUserProfile()">Let's Get
                                        Started</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md col-lg col-sm">
                    <div class="top-feature row mx-auto mb-5">
                        <div class="col-md-4 col-lg-4 col-sm p-0">
                            <div class="topfeature1 ">
                                <div class="row p-4 m-0">
                                    <div class="float-left w-100" >
                                        <img src="assets/images/feature.svg" alt="" class="mr-2" >
                                        <div class="t-feature-heading">Effortless Examination Process</div>             
                                    </div>
                                    <div class="feature-content">Generate Examination & Test Worksheet in a few clicks. With built-in intelligence create unique and accurate papers. Enjoy hassle-free process.</div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 text-center p-0 mt-2">
                                        <button type="button" id="viewfeature1" class="btn viewFeature-btn ">View
                                            Feature</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm p-0">
                            <div class="topfeature2 m-auto">
                                <div class="row p-4 m-0">
                                    <div class="float-left w-100">
                                        <img src="assets/images/feature.svg" alt="" class="mr-2">
                                        <div class="t-feature-heading mt-2">Graphical Analytics</div> 
                                    </div>
                                    <div class="feature-content">Easy to understand & use systematic graphical analysis. Get complete descriptive statistics Topic-wise Analysis, Percentile, Analytics with ranking & more.</div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 text-center p-0 mt-2">
                                        <button type="button" id="viewfeature2" class="btn viewFeature-btn ">View
                                            Feature</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm p-0">
                            <div class="topfeature3 float-right ">
                                <div class="row p-4 m-0">
                                    <div class="float-left w-100">
                                        <img src="assets/images/feature.svg" alt="" class="mr-2">
                                        <div class="t-feature-heading mt-2">Custom APP Content</div>       
                                    </div>
                                    <div class="feature-content">A systematic paper-less solution save your time, efforts and hassles but also will help them in making processes easier to handle, manage and stay updated.</div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 text-center p-0 mt-2">
                                        <button type="button" id="viewfeature3" class="btn viewFeature-btn ">View
                                            Feature</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>


<ng-http-loader spinner="sk-wave"></ng-http-loader>
<!-- /#wrapper -->