.student-list{
    td{
      padding: 17px 15px;
    }
    td.action_col {
      padding: 8px 15px;
    }
    th p{
      width: 128px;
      margin:0px !important;
    }
    th.colwidth p{
      width: 90px;
    }
    td{
        height: 60px;
    }
    td.active{
      color: #69BB10;
    }
    td.inactive{
      color: #E52254;
    }
}
  


  

td input, td select {
    color: #3A5077 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    height: 36px;
    border: 1px solid #D1DAE6;
    border-radius: 2px;
    background-color: #FFFFFF;
}
th .tablespace {
    width: 85px;
}

td.action_col {
    position: absolute;
    border-left: 1px solid #D1DAE6;
    right: 0;
    background: #ffffff;
    // border-bottom: 1px solid #D1DAE6;
}
.class_setup th {
    color: #3A5077;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
th.action_col {
    position: absolute;
    border-left: 1px solid #D1DAE6;
    right: 0;
    // border-bottom: 1px solid #D1DAE6;
    background: #ffffff;
    border-bottom: 0px !important;
}
th.action_col .action {
    height: 18px;
    width: 101px;
    background-color: #ffffff;
    text-align: center;
}
.student-list td.action_col {
    padding: 8px 15px;
}
td.action_col .single.tog button {
    height: 36px;
    width: 101px;
    border: 1px solid #D1DAE6;
    border-radius: 2px;
    background-color: #ffffff;
    text-align: center;
    color: #3A5077;
    font-size: 14px;
    line-height: 21px;
}
.class_setup .single.tog ul li {
    height: 45px;
    padding: 10px !important;
}
.class_setup .single.tog ul li a {
    color: #3A5077;
    font-size: 14px;
    line-height: 21px;
}



//   .class_setup tr {
//     border-bottom: 0px !important; 
// }
.imported-data{
    td input, td select, td .multiselect{
      width: 160px;
    }
    th.delete_col{
      position: absolute;
      border-left: 1px solid #D1DAE6;
      right:0;
      background: #fff;
      .remove{
        width: 40px;
        height: 36px;
        background-color: #fff;
        text-align:center;
      }
    }
    td.delete_col{
      position: absolute;
      border-left: 1px solid #D1DAE6;
      right:0;
      background: #fff;
      .remove{
        width: 40px;
        height: 36px;
        border: 1px solid #D1DAE6;
        border-radius: 2px;
        background-color: #fff;
        text-align:center;
      }
    }
    .overflow{
      overflow-x: auto;
    }
    tr.errorInStudentInfo{
      background-color: rgba(229,34,84,0.1);
      border-left: 3px solid #E52254;
      td.error button.multiselect{
        border: 1px solid #E52254 !important; 
      }
      td.error input, td.error td select{
        border: 1px solid #E52254 !important; 
      }
    }
  }

td input, td select {
    color: #3A5077 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    height: 36px;
    border: 1px solid #D1DAE6;
    border-radius: 2px;
    background-color: #FFFFFF;
}
th .tablespace {
    width: 85px;
}

.imported-data tr.errorInStaffInfo {
    background-color: rgba(229, 34, 84, 0.1);
    border-left: 3px solid #E52254;
}
.imported-data tr.errorInStaffInfo td.error input, .imported-data tr.errorInStaffInfo td.error td select {
    border: 1px solid #E52254 !important;
}

.import .error {
    color: #E52254;
}
.import .success {
    color: #3A5077;
}
.import {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
    margin-top: 12px;
}

button.saveandclose-btn {
    background-color: #01CA85;
    color: #ffffff;
    height: 42px;
    width: 140px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

button.addnewrow-btn {
    background-color: #5C67E6;
    color: #ffffff;
    height: 42px;
    width: 140px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

td.action_col .single.tog button {
    height: 36px;
    width: 101px;
    border: 1px solid #D1DAE6;
    border-radius: 2px;
    background-color: #ffffff;
    text-align: center;
}

td.action_col {
    position: absolute;
    border-left: 1px solid #D1DAE6;
    right: 0;
    background: #ffffff;
    border-bottom: 1px solid #D1DAE6;
    border-top: 0px;
}
th.action_col {
    position: absolute;
    border-left: 1px solid #D1DAE6;
    right: 0;
    // border-bottom: 1px solid #D1DAE6;
    background: #ffffff;
    border-bottom:0px !important;
}
th.action_col .action {
    height: 18px;
    width: 101px;
    background-color: #ffffff;
    text-align: center;
}
.table thead th {
    border-bottom: 1px solid #dee2e6 !important;
}
.student-list td {
    padding: 17px 15px;
}
.student-list td.action_col {
    padding: 8px 15px;
}
.student-list{
    th p{
      width: 128px;
      margin:0px !important;
    }
    th.email p{
      width:200px;
    }
    th.staff-name p{
      width: 140px;  
    }
    td{
        height: 60px;
        color: #172B4D;	
        font-size: 16px;	
        line-height: 18px;
    }
    .staff-name{
      font-weight: 600;
    }
    .not-assigned{
      color: #5C67E6 !important;	
      font-size: 16px;
      line-height: 18px;
      text-decoration: underline;
    }
  }

  .viewbtntable{
    height: 42px;	
    width: 97px;	
    .single.tog ul li{
      color: #3A5077;	
      font-size: 14px;	
      line-height: 21px;
      height: 45px;	
      width: 189px;	
      padding: 12px;
      background: #fff;
      span{
        margin: 30px;
      }
      i{
        padding: 2px;
      }
    }
    .single.tog button{
      height: 42px;	
      width: 97px;	
      border-radius: 2px;
      border: 1px solid #D1DAE6;
      background-color: #ffffff;
      color: #172B4D;	
      font-size: 14px;	
      line-height: 21px;	
      text-align: center;
    }
  }
  .filterbtntable{
    height: 42px;	
    width: 97px;	
    // border: 1px solid #fff;	
    border-radius: 2px;
    // margin-top: -1px;
    .single.tog ul{
      height: auto;	
      width: 367px;	
      box-shadow: 0 0 1px 0 rgba(133,149,166,0.4), 0 4px 8px -2px rgba(173,189,203,0.4);
      li{
        height: 45px;	
        // padding: 15px;
        background: #fff;
      }
      h3{
        color: #172B4D;	
        font-size: 16px;	
        font-weight: 600;	
        line-height: 22px;	
      }
      a{
        color: #3A5077;	
        font-size: 14px;	
        line-height: 21px;
      }
    }
    .single.tog button.dropdown-btn{
      height: 42px;	
      width: 97px;	
      border-radius: 2px;
      border: 1px solid #D1DAE6;
      background-color: #ffffff;
      color: #172B4D;	
      font-size: 14px;	
      line-height: 21px;	
      text-align: center;
    }
    .filterBtn{
      height: 42px;	
      border-radius: 4px;	
      background-color: #01CA85;
      color: #fff;	
      font-size: 14px;	
      font-weight: 600;	
      line-height: 18px;	
    }
  }
  .searchbartable{	
    button{
      position: absolute;
      background: #fff;
      height: 40px;
      border:none;
      padding: 8px 0px;
      margin-left: 8px;
      margin-top: 1px;
      i{
        color: #8595A6;	
      }
    }
    input{
      width: 194px;
      height: 42px;		
      border: 1px solid #D1DAE6;	
      border-radius: 2px 0 0 2px;
      padding-left: 30px;
      color: #8595A6;	
      font-size: 14px;	
      line-height: 21px;
    }
  }

  .addstudent{
    .addnewrow-btn{
    background-color: #5C67E6; 
    color: #fff; 
    height: 42px; 
    width:145px ;
    font-size: 14px;	
    font-weight: 600; 
    line-height: 18px;
    }
    .dropdown-toggle::after{
      display:none;
    }
    ul.dropdown-menu{
      left: -57px !important;
    }
    ul.dropdown-menu li:hover{
      background: #F6F7FB;
    }
    ul.dropdown-menu li{
      height: 45px;	
      width: 220px;
      padding: 12px;
      a{
        color: #3A5077;	
      font-size: 14px;	
      line-height: 21px;
      }
    }
  }



  /*--------Table-fixed--------------------------*/
.class_setup  {
  max-width: 100%;
  overflow-x: scroll;
  height: calc(100vh - 155px);
  overflow-y: hidden;
}
table {
  display: inline-grid;
  grid-template-areas: 
  "head-fixed" 
  "body-scrollable";
}
thead {
  grid-area: head-fixed;
}

tbody {
  grid-area: body-scrollable;
  overflow: auto;
  height: calc(100vh - 155px);
}

th, td {
  min-width: 150px;
  padding: 5px 10px;
  text-align: left;
}
th:first-of-type, td:first-of-type {
  min-width: 200px;
}
th:last-of-type, td:last-of-type {
  min-width: 130px;
}
thead th.action_col{
  z-index:9999;
}
th.action_col{
  border-left:0px !important;
}
 /*----------------------table-fixed-------------------*/