<div class="container-fluid p-0">        
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="m-3">                
                <app-data-listing [dataArray]="studentListData" [tableHeaders]="tableHeader" [title]="title" (actionEmitter)="onActionEmitter($event)" (addClickEmitter)="onAddClick($event)" (uploadCSVClickEmitter)="onUploadCSVClick($event)" [filterListData]="filterListData"></app-data-listing>          
            </div>
        </div>
    </div>
</div>