<div  class="container">
	<div  class="row">
		<div  class="col text-center">
			<div  class="pt-5">
				<div  class="mt-5 pt-5">
          <div class="pt-3">
					<h1  style="color:red;">PAYMENT FAILED</h1>
					<div  class="text-primary" style="font-size: 20px;">
						If any amount deducted, it will be automatically <br/>
refunded to your account in 5 working days
					</div>
					<div  class="mt-5">
						<div  class="pt-5">
              <div class="pt-3">
							<button  class="btn btn-success" routerLink="/exam/create-paper" style="width:18%;height:55px;font-size:22px;background-color:#32CD32;"type="button">Try again</button>
              </div>
            </div>
						<div  class="mt-3" style="font-size: 15px;"> Call us if you have any questions: +91-7498285310 </div>
					</div>
        </div>
				</div>
			</div>
		</div>
	</div>
</div>