input#txtCity::-webkit-input-placeholder {
    text-transform: none;
}
input#txtState::-webkit-input-placeholder {
    text-transform: none;
}
input#txtCountry::-webkit-input-placeholder {
    text-transform: none;
}