.board_merit_prediction_head{
    color: #172B4D;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.board_merit_prediction{
  border-radius: 4px;
  background-color: #FFFFFF;
  height: calc(100vh - 210px) !important;
 
  box-shadow: 0 0 1px 0 rgba(133,149,166,0.4), 0 4px 8px -2px rgba(173,189,203,0.4);
  .board_merit_prediction_table{
    overflow: auto;
    height:100%;
      .b_clr{
        color: #5C67E6;
      }
      .comment{
        color: #172B4D;
        font-family: Inter;
        font-size: 13px;
        font-style: italic;
        line-height: 18px;
        }
      td{
        font-family: Inter;
        font-size: 13.5px;
        text-transform: capitalize;
        line-height: 18px;
        border: 1px solid #D1DAE6;
        font-weight: 500;
        word-break: keep-all;
        padding: 7px 10px;
      }
      td .name_img img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
        }
        td .name{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #5C67E6;
            padding-top: 6px;
            padding-left: 10px;
            float: left;
            margin-right: 15px;
            p{color: #fff; font-size: 14px;}
        }
        tr{
            background-color: #FFFFFF;
            border: 1px solid ;
        }
        th{
            color: #3A5077;
            font-family: Inter;
            font-size: 11px;
            font-weight: 500;
            line-height: 18px;
            height: 45px;
            background-color: #FFFFFF;
            border: 1px solid #D1DAE6;
            padding: 10px;
        }
        
        
        .small_text{
          font-size:11px;
        }
    
  }
}


/*----------------------Pagination-------------------*/
::ng-deep .pages {
    margin-top: 10px;
    position: absolute;
    right: 0px;
  }
  
  .selectWrapper {
    margin-top: 10px;
    position: absolute;
    left: 0;
    padding: 0px;
  }
  
  
  
  /*-------------pagination----------------*/
  ::ng-deep .selectWrapper .select_Show {
    height: 38px;
    width: auto;
    border: 1px solid #D1DAE6;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #8595A6;
    font-family: Inter;
    font-size: 13px;
    line-height: 21px;
    margin-top: 9px;
  }
  
  ::ng-deep .selectWrapper {
    padding: 0px 15px;
  }
  
  ::ng-deep .ngx-pagination li {
    background-color: #FFFFFF;
    border-right: 1px solid #D1DAE6;
    margin-right: 0px !important;
  }
  
  ::ng-deep .ngx-pagination a {
    color: #8595A6 !important;
    font-family: Inter;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 16px !important;
    background-color: #fff;
  }
  
  ::ng-deep .ngx-pagination {
    border: 1.2px solid #D1DAE6;
    padding: 0px;
  }
  
  ::ng-deep .pages .current {
    color: #8595A6 !important;
    font-family: Inter;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 16px !important;
    background-color: #e6e6e6 !important;
  }
  
  ::ng-deep .ngx-pagination .pagination-previous a::before,
  ::ng-deep .ngx-pagination .pagination-previous.disabled::before {
    content: '<' !important;
    font-weight: 600;
  }
  
  ::ng-deep .ngx-pagination .pagination-next a::after,
  ::ng-deep .ngx-pagination .pagination-next.disabled::after {
    content: '>' !important;
    font-weight: 600;
  }
  
  ::ng-deep .show-for-sr {
    display: none;
  
  }
  
  ::ng-deep .ngx-pagination .pagination-next a::after,
  ::ng-deep .ngx-pagination .pagination-previous a::before {
    color: #172B4D;
  }
  
  ::ng-deep .ngx-pagination .pagination-previous.disabled::before,
  ::ng-deep .ngx-pagination .pagination-next.disabled::after {
    color: #8595A6;
  }
  
  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    display: none !important;
  }
  
  /*---------------pagination---------------*/